<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">

    <!-- Webix Core (무료) -->
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css">
    <script src="https://cdn.webix.com/edge/webix.js"></script>

    <title>File Manager</title>
</head>
<body>

<div layout:fragment="script">
    <script>
        webix.ready(function () {

            webix.ui({
                rows: [
                    {
                        cols: [
                            {
                                view: "tree",
                                id: "folderTree",
                                width: 250,
                                select: true,
                                url: "/api/files/tree",
                                on: {
                                    onAfterSelect(id) {
                                        webix.ajax()
                                            .get("/api/files/list", { path: id })
                                            .then(res => {
                                                $$("fileTable").clearAll();
                                                $$("fileTable").parse(res.json());
                                            });
                                    }
                                }
                            },
                            {
                                view: "datatable",
                                id: "fileTable",
                                columns: [
                                    { id: "name", header: "Name", fillspace: true },
                                    { id: "type", header: "Type", width: 100 },
                                    { id: "size", header: "Size", width: 100 }
                                ],
                                select: "row"
                            }
                        ]
                    }
                ]
            });

        });
    </script>
</div>

</body>
</html>
